<h1>this is h1</h1> <!--paling besar-->
<h2>this is h2</h2>
<h3>this is h3</h3>
<h4>this is h4</h4>
<h5>this is h5</h5>
<h6>this is h6</h6> <!--paling kecil-->
<!--besar kecil Header tergantung tingkat kepentingannya.-->
<p>Hello world</p>
<a href:"https;//progate.com">Progate</a>
<img src:"home/sultan/Downloads/download.jpg">

<ul>
    <li> HTTP</li>
    <li>PHP</li>
    <li>Ruby</li>
</ul>
<strong>Code</strong>